@model IEnumerable<Lanches.Models.Lanche>

<div>
</div>


@foreach (var lanche in Model)
{
    <div>
        <h4>Lanche : @lanche.Nome</h4>
        <p><img src="@lanche.ImagemUrl"></img></p>
        <p>Preço : @lanche.Preco.ToString("c")</p>
    </div>
}
